<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.android.gadgethost">
    <uses-permission android:name="android.permission.VIBRATE" />

    <application>
        <activity android:name="GadgetHostActivity" android:label="_GadgetHost">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="GadgetPickActivity">
            <intent-filter>
                <action android:name="android.gadget.action.PICK_GADGET" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <receiver android:name="TestGadgetProvider">
            <intent-filter>
                <action android:name="android.gadget.action.GADGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.gadget.provider" android:resource="@xml/gadget_info" />
        </receiver>
    </application>
</manifest>
