<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.tests.applaunch"
    android:sharedUserId="android.uid.system" >
    <instrumentation android:label="Measure app start up time"
                     android:name="android.test.InstrumentationTestRunner"
                     android:targetPackage="com.android.tests.applaunch" />

    <application android:label="App Launch Test">
        <uses-library android:name="android.test.runner" />
    </application>
</manifest>