<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (C) 2010 The Android Open Source Project

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at
  
          http://www.apache.org/licenses/LICENSE-2.0
  
     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.test.hwui">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-sdk android:minSdkVersion="21" />

    <application
        android:label="HwUi"
        android:theme="@android:style/Theme.Material.Light">

        <activity
                android:name="HwTests"
                android:label="OpenGL Renderer Tests">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
                android:name="PathOpsActivity"
                android:label="Path/Ops">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="AssetsAtlasActivity"
                android:label="Atlas/Framework">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="ScaledTextActivity"
                android:label="Text/Scaled">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="Rotate3dTextActivity"
                android:label="Text/3D Rotation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="NoAATextActivity"
                android:label="Text/Aliased">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="ScaledPathsActivity"
                android:label="Path/Scaled">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="Alpha8BitmapActivity"
                android:label="Bitmaps/Alpha8">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="MipMapActivity"
                android:label="Bitmaps/MipMap">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="PathOffsetActivity"
                android:label="Path/Offset">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="MultiLayersActivity"
                android:label="Layers/Multiple">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="TJunctionActivity"
                android:label="Layers/T-Junction">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="TextPathActivity"
                android:label="Text/As Path">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="GradientStopsActivity"
                android:label="Gradients/Multi-stops">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="PaintDrawFilterActivity"
                android:label="Paint/Draw Filter">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="BigGradientActivity"
                android:label="Gradients/Large">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>
        
        <activity
                android:name="DatePickerActivity"
                android:label="View/DatePicker">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="ClipRegionActivity"
                android:label="Clip/Region 1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="ClipRegion2Activity"
                android:label="Clip/Region 2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="ClipRegion3Activity"
                android:label="Clip/Region 3">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="ClipOutlineActivity"
                android:label="Clip/Outline">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="DisplayListLayersActivity"
                android:label="Layers/Display Lists">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="MatrixActivity"
                android:label="Misc/Matrix">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="LooperAcceleration"
                android:label="Misc/LooperAcceleration">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>
        
        <activity
                android:name="TextFadeActivity"
                android:label="Text/Fade">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="MaxBitmapSizeActivity"
                android:label="Bitmaps/Max Size">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="TimeDialogActivity"
                android:label="View/TimeDialog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>
        
        <activity
                android:name="OpaqueActivity"
                android:label="Window/Opaque">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="GetBitmapActivity"
                android:label="TextureView/Get Bitmap">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>
        
        <activity
                android:name="SmallCircleActivity"
                android:label="Draw/Small Circle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="ClearActivity"
                android:label="Window/Clear">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="TextureViewActivity"
                android:label="TextureView/Camera">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="GlyphCacheActivity"
                android:label="Text/Glyph Cache">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="CanvasTextureViewActivity"
                android:label="TextureView/Canvas">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="HardwareCanvasTextureViewActivity"
                android:label="TextureView/HardwareCanvas">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="SingleFrameTextureViewTestActivity"
                android:label="TextureView/SingleFrameTextureViewTest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="HardwareCanvasSurfaceViewActivity"
                android:label="SurfaceView/HardwareCanvas">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="MovingSurfaceViewActivity"
                android:label="SurfaceView/Animated Movement">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="GetBitmapSurfaceViewActivity"
                android:label="SurfaceView/GetBitmap with Camera source">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="VideoViewCaptureActivity"
                android:label="SurfaceView/GetBitmap with Video source">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="GLTextureViewActivity"
                android:label="TextureView/OpenGL">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="BitmapMeshActivity"
                android:label="Bitmaps/Mesh">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="BitmapMutateActivity"
                android:label="Bitmaps/Mutate">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="BitmapMeshLayerActivity"
                android:label="Bitmaps/Mesh in Layer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>
                
        <activity
                android:name="MarqueeActivity"
                android:label="Text/Marquee">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="ShapesActivity"
                android:label="Path/Shapes">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>
        
        <activity
                android:name="ColoredRectsActivity"
                android:label="Draw/Rects">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="SimplePatchActivity"
                android:label="Draw/9-Patch"
                android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="ViewLayersActivity"
                android:label="Layers/Views 1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>
        
        <activity
                android:name="ViewLayersActivity2"
                android:label="Layers/Views 2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>
        
        <activity
                android:name="ViewLayersActivity3"
                android:label="Layers/Views 3">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="ViewLayersActivity4"
                android:label="Layers/Views 4">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>
        
        <activity
                android:name="ViewLayersActivity5"
                android:label="Layers/Views 5">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="AlphaLayersActivity"
                android:label="Layers/Alpha">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>
        
        <activity
                android:name="AdvancedGradientsActivity"
                android:label="Gradients/Advanced">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>
        
        <activity
                android:name="Bitmaps3dActivity"
                android:label="Bitmaps/3D Rotation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>
        
        <activity
                android:name="LabelsActivity"
                android:label="View/TextView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

            <activity
                android:name="ViewFlipperActivity"
                android:label="View/ViewFlipper"
                android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="ResizeActivity"
                android:label="Window/Resize"
                android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>
        
        <activity
                android:name="TextGammaActivity"
                android:label="Text/Gamma"
                android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

            <activity
                android:name="TextGammaActivity$SubGammaActivity"
                android:label="Text/Sub Gamma"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"
                android:hardwareAccelerated="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        
        <activity
                android:name="LayersActivity"
                android:label="Layers/Canvas Layers"
                android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="NewLayersActivity"
                android:label="Layers/Overlapping Layers">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>
        
        <activity
                android:name="XfermodeActivity"
                android:label="Draw/Xfermodes"
                android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>
        
        <activity
                android:name="BitmapsActivity"
                android:label="Bitmaps/Draw Bitmaps"
                android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>
        
        <activity
                android:name="BitmapsSkewActivity"
                android:label="Bitmaps/Skew">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="BitmapsAlphaActivity"
                android:label="Bitmaps/Alpha"
                android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>
        
        <activity
                android:name="BitmapsRectActivity"
                android:label="Bitmaps/Rect"
                android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="ThinPatchesActivity"
                android:label="Draw/9-Patch Thin Drawable"
                android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>
        
        <activity
                android:name="NinePatchesActivity"
                android:label="Draw/9-Patch Drawable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="MoreNinePatchesActivity"
                android:label="Draw/9-Patch Vertical Drawable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>
        
        <activity
                android:name="QuickRejectActivity"
                android:label="Clip/QuickReject">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>
        
        <activity
                android:name="RotationActivity"
                android:label="View/Rotation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>
        
        <activity
                android:name="GradientsActivity"
                android:label="Gradients/Gradients">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="ShadersActivity"
                android:label="Shaders/Shaders">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>
        
        <activity
                android:name="TextActivity"
                android:label="Text/Simple Text"
                android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="PosTextActivity"
                android:label="Text/Pos Text"
                android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="ListActivity"
                android:label="View/List">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="TransparentListActivity"
                android:label="View/Transparent List">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>
        
        <activity
                android:name="MoreShadersActivity"
                android:label="Shaders/Compose Shaders">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="ColorFiltersActivity"
                android:label="ColorFilters/Filters">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="ColorFiltersMutateActivity"
                android:label="ColorFilters/Mutate Filters">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="LinesActivity"
                android:label="Draw/Lines">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="Lines2Activity"
                android:label="Draw/Lines 2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="PathsActivity"
                android:label="Path/Paths">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="TextOnPathActivity"
                android:label="Text/Text on Path">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="PathsCacheActivity"
                android:label="Path/Cache">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />`
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="PointsActivity"
                android:label="Draw/Points">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="Transform3dActivity"
                android:label="Draw/3D Transform">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="Animated3dActivity"
                android:label="Draw/Animated 3D Transform">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="SimplePathsActivity"
                android:label="Path/Simple Paths">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="AdvancedBlendActivity"
                android:label="Draw/Advanced Blend">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="FramebufferBlendActivity"
                android:label="Draw/Framebuffer Blend">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="StackActivity"
                android:label="View/Stacks">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="PathDestructionActivity"
                android:label="Path/Path Destruction">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="TransformsAndAnimationsActivity"
                android:label="Draw/Transforms and Animations">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="ViewPropertyAlphaActivity"
                android:label="View/Alpha Property">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="ViewLayerInvalidationActivity"
                android:label="Layers/Invalidation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="ProjectionActivity"
                android:label="Reordering/Projection">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name=".ProjectionClippingActivity"
                android:label="Reordering/Projection Clipping">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name=".ZOrderingActivity"
                android:label="Reordering/Z Ordering">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="GLDepthTestActivity"
                android:label="Reordering/OpenGL Depth Test">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="CirclePropActivity"
                android:label="Animation/Circle Props">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="RevealActivity"
                android:label="Animation/Reveal Animation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

        <activity
                android:name="MultiProducerActivity"
                android:label="Threads/Multiple Producers">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.hwui.TEST" />
            </intent-filter>
        </activity>

    </application>
</manifest>
