<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.rs.fountain">
    <uses-sdk android:minSdkVersion="14" />
    <application
        android:label="RsFountain"
        android:hardwareAccelerated="true"
        android:icon="@drawable/test_pattern">
        <activity android:name="Fountain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
