<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
     package="com.android.multidexlegacytestapp"
     android:versionCode="1"
     android:versionName="1.0">

    <uses-sdk android:minSdkVersion="21"
         android:targetSdkVersion="18"/>

    <application android:name=".TestApplication"
         android:label="multidexlegacytestapp">
        <activity android:name="com.android.multidexlegacytestapp.MainActivity"
             android:label="multidexlegacytestapp"
             android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <uses-library android:name="android.test.runner"/>
    </application>

    <instrumentation android:name="android.test.InstrumentationTestRunner"
         android:targetPackage="com.android.multidexlegacytestapp"
         android:label="Test for MultiDexLegacyTestApp"/>
</manifest>
