<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.perftest">
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <uses-sdk android:minSdkVersion="11" />
    <application android:label="PerfTest"
      android:icon="@drawable/test_pattern">
        <uses-library android:name="android.test.runner" />
        <activity android:name="RsBench"
                  android:label="RsBenchmark">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
      </application>

      <instrumentation android:name=".RsPerfTestRunner"
        android:targetPackage="com.android.perftest"
        android:label="Test runner for RsBench tests"
      />
</manifest>
