<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
     package="com.android.frameworkperf">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-sdk android:minSdkVersion="5"/>

    <application android:hardwareAccelerated="false">
        <uses-library android:name="android.test.runner"/>
        <activity android:name="FrameworkPerfActivity"
             android:label="Framework Perf"
             android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <service android:name="SchedulerService"
             android:foregroundServiceType="dataSync|mediaPlayback|phoneCall|location|connectedDevice">
        </service>
        <service android:name="TestService"
             android:process=":test">
        </service>
        <service android:name="LocalTestService">
        </service>
        <receiver android:name="Receiver"
             android:exported="true">
        </receiver>
    </application>
    <instrumentation android:name="android.test.InstrumentationTestRunner"
         android:targetPackage="com.android.frameworkperf"
         android:label="Framework Perf Runner"/>
</manifest>
