<?xml version="1.0" encoding="utf-8"?>
<!--
/*
 * Copyright (C) 2019 The Android Open Source Project
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
     package="com.android.server.net.integrationtests">

    <!-- For ConnectivityService registerReceiverAsUser (receiving broadcasts) -->
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <!-- PermissionMonitor sets network permissions for each user -->
    <uses-permission android:name="android.permission.MANAGE_USERS"/>
    <!-- ConnectivityService sends notifications to BatteryStats -->
    <uses-permission android:name="android.permission.UPDATE_DEVICE_STATS"/>
    <!-- Reading network status -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.NETWORK_FACTORY"/>
    <!-- Obtain LinkProperties callbacks with sensitive fields -->
    <uses-permission android:name="android.permission.NETWORK_SETTINGS" />
    <uses-permission android:name="android.permission.NETWORK_STACK"/>
    <uses-permission android:name="android.permission.OBSERVE_NETWORK_POLICY"/>
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"/>
    <!-- Reading DeviceConfig flags -->
    <uses-permission android:name="android.permission.READ_DEVICE_CONFIG"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <application android:debuggable="true">
        <uses-library android:name="android.test.runner"/>

        <!-- This manifest is merged with the base manifest of the real NetworkStack app.
                         Remove the NetworkStackService from the base (real) manifest, and replace with a test
                         service that responds to the same intent -->
        <service android:name=".TestNetworkStackService"
             android:process="com.android.server.net.integrationtests.testnetworkstack"
             android:exported="true">
            <intent-filter>
                <action android:name="android.net.INetworkStackConnector.Test"/>
            </intent-filter>
        </service>
        <service android:name=".NetworkStackInstrumentationService"
             android:process="com.android.server.net.integrationtests.testnetworkstack"
             android:exported="true">
            <intent-filter>
                <action android:name=".INetworkStackInstrumentation"/>
            </intent-filter>
        </service>
        <service android:name="com.android.server.connectivity.ipmemorystore.RegularMaintenanceJobService"
             android:process="com.android.server.net.integrationtests.testnetworkstack"
             android:permission="android.permission.BIND_JOB_SERVICE"/>

    </application>

    <instrumentation android:name="androidx.test.runner.AndroidJUnitRunner"
         android:targetPackage="com.android.server.net.integrationtests"
         android:label="Frameworks Net Integration Tests"/>

</manifest>
