<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.framework.multidexlegacyversionedtestapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:label="MultiDexLegacyVersionedTestApp_v1">
        <activity
            android:name="com.android.framework.multidexlegacyversionedtestapp.MainActivity"
            android:label="MultiDexLegacyVersionedTestApp_v1" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <uses-library android:name="android.test.runner" />
    </application>

    <instrumentation android:name="android.test.InstrumentationTestRunner"
                     android:targetPackage="com.android.framework.multidexlegacyversionedtestapp"
                     android:label="Test for MultiDexLegacyVersionedTestApp_v1" />

</manifest>
