<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.multidexlegacytestapp.test2"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />
    <instrumentation
        android:name="com.android.multidexlegacytestapp.test2.MultiDexAndroidJUnitRunner"
        android:targetPackage="com.android.multidexlegacytestapp" />

    <application
        android:label="multidexlegacytestapp.test" >
        <uses-library android:name="android.test.runner" />
    </application>
</manifest>