<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.rs.matrix">
    <uses-sdk android:minSdkVersion="16" />
    <application android:label="Large Matrix"
                 android:hardwareAccelerated="true">
        <activity android:name="MatrixActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
