<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:versionCode="1"
      android:versionName="1.0" package="com.test.tilebenchmark">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application android:icon="@drawable/icon"
                 android:label="@string/app_name"
                 android:hardwareAccelerated="true">
        <activity android:name=".ProfileActivity"
                  android:label="@string/profile_activity"
                  android:theme="@android:style/Theme.Holo.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PlaybackActivity"
                  android:label="@string/playback_activity"
                  android:theme="@android:style/Theme.Holo.NoActionBar">
        </activity>
        <uses-library android:name="android.test.runner" />
    </application>
    <instrumentation android:name="android.test.InstrumentationTestRunner"
                     android:targetPackage="com.test.tilebenchmark"
                     android:label="Tests for WebView Tiles."/>
</manifest>
