<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.tests.gating">

    <queries>
        <package android:name="com.android.tests.gating.app_not_installed" />
    </queries>

    <application android:label="GatingTest">
        <uses-library android:name="android.test.runner" />
    </application>

    <instrumentation android:name="androidx.test.runner.AndroidJUnitRunner"
                     android:targetPackage="com.android.tests.gating"/>
</manifest>
