<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.perftests.core">

    <permission android:name="com.android.perftests.core.TestPermission" />
    <uses-permission android:name="com.android.perftests.core.TestPermission" />

    <uses-permission android:name="android.permission.CHANGE_OVERLAY_PACKAGES" />
    <uses-permission android:name="android.permission.DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS" />

    <application>
        <uses-library android:name="android.test.runner" />
        <activity android:name="android.perftests.utils.PerfTestActivity">
          <intent-filter>
            <action android:name="com.android.perftests.core.PERFTEST" />
          </intent-filter>
        </activity>
        <service android:name="android.os.SomeService" android:exported="false" android:process=":some_service" />

        <service
            android:name="android.view.autofill.MyAutofillService"
            android:label="PERF AutofillService"
            android:permission="android.permission.BIND_AUTOFILL_SERVICE" >
            <intent-filter>
                <action android:name="android.service.autofill.AutofillService" />
            </intent-filter>
        </service>

    </application>

    <instrumentation android:name="androidx.test.runner.AndroidJUnitRunner"
        android:targetPackage="com.android.perftests.core"/>

</manifest>
