BasedOnStyle: Google
DerivePointerAlignment: false
IndentWidth: 4
ConstructorInitializerIndentWidth: 8
ContinuationIndentWidth: 8
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: Inline
AccessModifierOffset: -4
#BreakConstructorInitializers: BeforeComma
BreakConstructorInitializersBeforeComma: true
