<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.rs.balls">
    <uses-sdk android:minSdkVersion="14" />
    <application 
        android:label="RsBalls"
        android:icon="@drawable/test_pattern">
        <activity android:name="Balls"
                  android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
