<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
     package="com.android.camerabrowser">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application android:label="@string/app_label"
         android:name="com.android.camerabrowser.CameraBrowserApplication">

        <activity android:name="CameraBrowser"
             android:label="Camera Browser"
             android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"/>
            </intent-filter>
            <meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                 android:resource="@xml/device_filter"/>
        </activity>

        <activity android:name="StorageBrowser"/>
        <activity android:name="ObjectBrowser"/>
        <activity android:name="ObjectViewer"/>
    </application>
</manifest>
