<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (C) 2011 The Android Open Source Project

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.frameworks.coretests.install_complete_package_info">

<!--
     This manifest declares at least one of each of the components that
     can be retrieved by PackageManager.getInstalledPackages.
     All the implementing classes are empty implementations
-->

    <uses-feature
        android:name="com.android.frameworks.coretests.nonexistent" />
    <uses-configuration
        android:reqFiveWayNav="false" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.android.frameworks.coretests"
        android:label="Frameworks Core Tests" />

    <permission
        android:label="test permission"
        android:name="test_permission"
        android:protectionLevel="normal" />

    <application
        android:hasCode="true">
        <activity
            android:name="com.android.frameworks.coretests.TestActivity">
        </activity>
        <provider
            android:name="com.android.frameworks.coretests.TestProvider"
            android:authorities="com.android.frameworks.coretests.testprovider" />
        <receiver
            android:name="com.android.frameworks.coretests.TestReceiver" />
        <service
            android:name="com.android.frameworks.coretests.TestService" />
    </application>
</manifest>
