<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.overlaytest">
    <uses-permission android:name="android.permission.RUN_INSTRUMENTATION"/>
    <application>
        <uses-library android:name="android.test.runner"/>
    </application>
    <instrumentation android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.android.overlaytest"
        android:label="Runtime resource overlay tests"/>
</manifest>
