<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.scenegraph">
    <uses-permission
        android:name="android.permission.INTERNET" />
    <application android:label="SceneGraphTest">
        <activity android:name="SceneGraph"
                  android:label="SceneGraphTest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="FileSelector"
                  android:label="FileSelector"
                  android:hardwareAccelerated="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>
</manifest>
