<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (C) 2010 The Android Open Source Project

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.android.dumprendertree2">
    <application>
        <uses-library android:name="android.test.runner" />

        <activity android:name=".ui.DirListActivity"
                  android:label="Dump Render Tree 2"
                  android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.TEST" />
            </intent-filter>
        </activity>

        <!-- android:launchMode="singleTask" is there so we only have a one instance
             of this activity. However, it doesn't seem to work exactly like described in the
             documentation, because the behaviour of the application suggest
             there is only a single task for all 3 activities. We don't understand
             how exactly it all works, but at the moment it works just fine.
             It can lead to some weird behaviour in the future. -->
        <activity android:name=".TestsListActivity"
                  android:label="Tests' list activity"
                  android:launchMode="singleTask"
                  android:configChanges="orientation">
        </activity>

        <activity android:name=".LayoutTestsExecutor"
                  android:theme="@style/WhiteBackground"
                  android:label="Layout tests' executor"
                  android:process=":executor">
        </activity>

        <service android:name="ManagerService">
        </service>
    </application>

    <instrumentation android:name="com.android.dumprendertree2.scriptsupport.ScriptTestRunner"
                     android:targetPackage="com.android.dumprendertree2"
                     android:label="Layout tests script runner" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SDCARD" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
</manifest>
