<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.tests.applaunch"
    android:sharedUserId="android.uid.system" >

   <uses-permission android:name="android.permission.REAL_GET_TASKS" />
   <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

   <uses-sdk
        android:minSdkVersion="22"
        android:targetSdkVersion="24" />

    <instrumentation android:label="Measure app start up time"
                     android:name="android.test.InstrumentationTestRunner"
                     android:targetPackage="com.android.tests.applaunch" />

    <application android:label="App Launch Test">
        <uses-library android:name="android.test.runner" />
    </application>
</manifest>
