<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (C) 2008 The Android Open Source Project

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
     package="com.android.frameworks.servicestests">

    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.ACCESS_VR_MANAGER"/>
    <uses-permission android:name="android.permission.ACCOUNT_MANAGER"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.UPDATE_DEVICE_STATS"/>
    <uses-permission android:name="android.permission.MANAGE_APP_TOKENS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS"/>
    <uses-permission android:name="android.permission.REAL_GET_TASKS"/>
    <uses-permission android:name="android.permission.GET_DETAILED_TASKS"/>
    <uses-permission android:name="android.permission.REORDER_TASKS"/>
    <uses-permission android:name="android.permission.MANAGE_NETWORK_POLICY"/>
    <uses-permission android:name="android.permission.READ_NETWORK_USAGE_HISTORY"/>
    <uses-permission android:name="android.permission.OBSERVE_NETWORK_POLICY"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.MANAGE_USERS"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <uses-permission android:name="android.permission.MANAGE_DEVICE_ADMINS"/>
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.PACKET_KEEPALIVE_OFFLOAD"/>
    <uses-permission android:name="android.permission.GET_INTENT_SENDER_INTENT"/>
    <uses-permission android:name="android.permission.MANAGE_ACTIVITY_TASKS"/>
    <uses-permission android:name="android.permission.INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.CHANGE_COMPONENT_ENABLED_STATE"/>
    <uses-permission android:name="android.permission.DELETE_PACKAGES"/>
    <uses-permission android:name="android.permission.GET_APP_OPS_STATS"/>
    <uses-permission android:name="android.permission.UPDATE_APP_OPS_STATS"/>
    <uses-permission android:name="android.permission.MANAGE_APP_OPS_MODES"/>
    <uses-permission android:name="android.permission.DEVICE_POWER"/>
    <uses-permission android:name="android.permission.FORCE_STOP_PACKAGES"/>
    <uses-permission android:name="android.permission.CHANGE_DEVICE_IDLE_TEMP_WHITELIST"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.STATUS_BAR"/>
    <uses-permission android:name="android.permission.STATUS_BAR_SERVICE"/>
    <uses-permission android:name="android.permission.ACCESS_SURFACE_FLINGER"/>
    <uses-permission android:name="android.permission.READ_FRAME_BUFFER"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.STORAGE_INTERNAL"/>
    <uses-permission android:name="android.permission.WATCH_APPOPS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.SUSPEND_APPS"/>
    <uses-permission android:name="android.permission.LOG_COMPAT_CHANGE"/>
    <uses-permission android:name="android.permission.READ_COMPAT_CHANGE_CONFIG"/>
    <uses-permission android:name="android.permission.CONTROL_KEYGUARD"/>
    <uses-permission android:name="android.permission.MANAGE_BIND_INSTANT_SERVICE"/>
    <uses-permission android:name="android.permission.CONTROL_DISPLAY_COLOR_TRANSFORMS"/>
    <uses-permission android:name="android.permission.CONTROL_DISPLAY_BRIGHTNESS"/>
    <uses-permission android:name="android.permission.CONFIGURE_DISPLAY_BRIGHTNESS"/>
    <uses-permission android:name="android.permission.READ_DEVICE_CONFIG"/>
    <uses-permission android:name="android.permission.WRITE_DEVICE_CONFIG"/>
    <uses-permission android:name="android.permission.HARDWARE_TEST"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"/>
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"/>
    <uses-permission android:name="android.permission.DUMP"/>
    <uses-permission android:name="android.permission.READ_DREAM_STATE"/>
    <uses-permission android:name="android.permission.READ_DREAM_SUPPRESSION"/>
    <uses-permission android:name="android.permission.WRITE_DREAM_STATE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.MODIFY_DAY_NIGHT_MODE"/>
    <uses-permission android:name="android.permission.MEDIA_RESOURCE_OVERRIDE_PID"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_VIBRATOR_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE_ALWAYS_ON"/>
    <uses-permission android:name="android.permission.CONTROL_DEVICE_STATE"/>
    <uses-permission android:name="android.permission.READ_PROJECTION_STATE"/>
    <uses-permission android:name="android.permission.KILL_UID"/>
    <uses-permission android:name="android.permission.MAINLINE_NETWORK_STACK"/>
    <uses-permission
        android:name="android.permission.OVERRIDE_COMPAT_CHANGE_CONFIG_ON_RELEASE_BUILD"/>
    <uses-permission android:name="android.permission.ASSOCIATE_INPUT_DEVICE_TO_DISPLAY" />
    <uses-permission android:name="android.permission.READ_NEARBY_STREAMING_POLICY" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_ROUTING" />
    <uses-permission android:name="android.permission.PACKAGE_VERIFICATION_AGENT" />
    <uses-permission android:name="android.permission.OBSERVE_ROLE_HOLDERS" />

    <queries>
        <package android:name="com.android.servicestests.apps.suspendtestapp" />
    </queries>

    <!-- Uses API introduced in O (26) -->
    <uses-sdk android:minSdkVersion="1"
         android:targetSdkVersion="26"/>

    <application android:testOnly="true">
        <uses-library android:name="android.test.runner"/>

        <service android:name="com.android.server.accounts.TestAccountType1AuthenticatorService"
             android:exported="false">
          <intent-filter>
            <action android:name="android.accounts.AccountAuthenticator"/>
          </intent-filter>
          <meta-data android:name="android.accounts.AccountAuthenticator"
               android:resource="@xml/test_account_type1_authenticator"/>
        </service>

        <service android:name="com.android.server.accounts.TestAccountType2AuthenticatorService"
             android:exported="false">
          <intent-filter>
            <action android:name="android.accounts.AccountAuthenticator"/>
          </intent-filter>
          <meta-data android:name="android.accounts.AccountAuthenticator"
               android:resource="@xml/test_account_type2_authenticator"/>
        </service>

        <service
            android:name="com.android.server.dreams.TestDreamService"
            android:exported="false"
            android:label="Test Dream" >
            <intent-filter>
                <action android:name="android.service.dreams.DreamService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.service.dream"
                android:resource="@xml/test_dream_metadata" />
        </service>

        <receiver android:name="com.android.server.devicepolicy.ApplicationRestrictionsTest$AdminReceiver"
             android:permission="android.permission.BIND_DEVICE_ADMIN"
             android:exported="true">
            <meta-data android:name="android.app.device_admin"
                 android:resource="@xml/device_admin_sample"/>
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED"/>
            </intent-filter>
        </receiver>

        <receiver android:name="com.android.server.devicepolicy.DummyDeviceAdmins$Admin1"
             android:permission="android.permission.BIND_DEVICE_ADMIN"
             android:exported="true">
            <meta-data android:name="android.app.device_admin"
                 android:resource="@xml/device_admin_sample"/>
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED"/>
            </intent-filter>
        </receiver>

        <receiver android:name="com.android.server.devicepolicy.DummyDeviceAdmins$Admin2"
             android:permission="android.permission.BIND_DEVICE_ADMIN"
             android:exported="true">
            <meta-data android:name="android.app.device_admin"
                 android:resource="@xml/device_admin_sample"/>
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED"/>
            </intent-filter>
        </receiver>

        <receiver android:name="com.android.server.devicepolicy.DummyDeviceAdmins$Admin3"
             android:permission="android.permission.BIND_DEVICE_ADMIN"
             android:exported="true">
            <meta-data android:name="android.app.device_admin"
                 android:resource="@xml/device_admin_sample"/>
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED"/>
            </intent-filter>
        </receiver>

        <receiver android:name="com.android.server.devicepolicy.DummyDeviceAdmins$AdminNoPerm"
             android:exported="true">
            <meta-data android:name="android.app.device_admin"
                 android:resource="@xml/device_admin_sample"/>
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED"/>
            </intent-filter>
        </receiver>

        <service android:name="com.android.server.job.MockBiasJobService"
             android:permission="android.permission.BIND_JOB_SERVICE"/>

        <activity android:name="com.android.server.pm.BaseShortcutManagerTest$ShortcutActivity"/>
        <activity android:name="com.android.server.pm.BaseShortcutManagerTest$ShortcutActivity2"/>
        <activity android:name="com.android.server.pm.BaseShortcutManagerTest$ShortcutActivity3"/>

        <activity android:name="com.android.server.pm.ShortcutTestActivity"
             android:enabled="true"
             android:exported="true"/>

        <activity android:name="com.android.server.pm.SuspendedDetailsActivity"
             android:enabled="true"
             android:permission="android.permission.SEND_SHOW_SUSPENDED_APP_DETAILS"
             android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SHOW_SUSPENDED_APP_DETAILS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name="com.android.server.accounts.AccountAuthenticatorDummyActivity"/>
        <activity android:name="com.android.server.adb.AdbDebuggingManagerTestActivity"/>

        <activity-alias android:name="a.ShortcutEnabled"
             android:targetActivity="com.android.server.pm.ShortcutTestActivity"
             android:enabled="true"
             android:exported="true">
        </activity-alias>
        <activity-alias android:name="a.ShortcutDisabled"
             android:targetActivity="com.android.server.pm.ShortcutTestActivity"
             android:enabled="false"
             android:exported="true">
            <meta-data android:name="android.app.shortcuts"
                 android:resource="@xml/shortcut_5"/>
        </activity-alias>
        <activity-alias android:name="a.ShortcutUnexported"
             android:targetActivity="com.android.server.pm.ShortcutTestActivity"
             android:enabled="true"
             android:exported="false">
            <meta-data android:name="android.app.shortcuts"
                 android:resource="@xml/shortcut_5"/>
        </activity-alias>
        <activity-alias android:name="a.Shortcut1"
             android:targetActivity="com.android.server.pm.ShortcutTestActivity"
             android:enabled="true"
             android:exported="true">
            <meta-data android:name="android.app.shortcuts"
                 android:resource="@xml/shortcut_1"/>
        </activity-alias>
        <activity-alias android:name="a.ShortcutConfigActivity"
             android:targetActivity="com.android.server.pm.ShortcutTestActivity">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>
            </intent-filter>
        </activity-alias>

        <activity-alias android:name="a.DisabledMain"
             android:targetActivity="com.android.server.pm.ShortcutTestActivity"
             android:enabled="false"
             android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

        <activity-alias android:name="a.UnexportedMain"
             android:targetActivity="com.android.server.pm.ShortcutTestActivity"
             android:enabled="true"
             android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

        <receiver android:name="com.android.server.appwidget.DummyAppWidget"
             android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                 android:resource="@xml/dummy_appwidget_info"/>
        </receiver>
    </application>

    <instrumentation android:name="androidx.test.runner.AndroidJUnitRunner"
         android:targetPackage="com.android.frameworks.servicestests"
         android:label="Frameworks Services Tests"/>
    <key-sets>
        <key-set android:name="A" >
            <public-key android:name="keyA"
                android:value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAsMpNthdOxud7roPDZMMomOqXgJJdRfIWpkKEqmC61Mv+Nf6QY3TorEwJeghjSmqj7IbBKrtvfQq4E2XJO1HuspmQO4Ng2gvn+r+6EwNfKc9k55d6s+27SR867jKurBbHNtZMG+tjL1yH4r+tNzcuJCsgyAFqLmxFdcxEwzNvREyRpoYc5RDR0mmTwkMCUhJ6CId1EYEKiCEdNzxv+fWPEb21u+/MWpleGCILs8kglRVb2q/WOzAAvGr4FY5plfaE6N+lr7+UschQ+aMi1+uqewo2o0qPFVmZP5hnwj55K4UMzu/NhhDqQQsX4cSGES1KgHo5MTqRqZjN/I7emw5pFQIDAQAB"/>
        </key-set>
        <upgrade-key-set android:name="A"/>
    </key-sets>
</manifest>
