<html>
<body>
<p>Provides classes that handle tweened animations.</p>
<p>Android provides two mechanisms
    that you can use to create simple animations: <strong>tweened
        animation</strong>, in which you tell Android to perform a series of simple
    transformations (position, size, rotation, and so on) to the content of a
    View; and <strong>frame
        by frame animation</strong>, which loads a series of Drawable resources
    one after the other. Both animation types can be used in any View object
    to provide simple rotating timers, activity icons, and other useful UI elements.
    Tweened animation is handled by this package; frame by frame animation is
    handled by the {@link android.graphics.drawable.AnimationDrawable} class.
    Animations do not have a pause method.</p>
<h2>Tweened Animation<a name="tweened"></a></h2>
<p> Android can perform simple visual transformations for you, including straight
    line motion, size change, and transparency change, on the contents of a {@link
    android.view.View View} object. These transformations are represented by the
    following classes:</p>
<ul>
    <li>    {@link android.view.animation.AlphaAnimation AlphaAnimation} (transparency
        changes) </li>
    <li>{@link android.view.animation.RotateAnimation        RotateAnimation} (rotations) </li>
    <li>        {@link android.view.animation.ScaleAnimation ScaleAnimation} (growing
        or shrinking) </li>
    <li>{@link android.view.animation.TranslateAnimation        TranslateAnimation}
        (position changes) </li>
</ul>
<p><em>Note: tweened animation does not provide tools to help you draw shapes.</em> Tweened
    animation is the act of applying one or more of these 
    transformations applied to the contents of a View object. So, if you have a TextView
    with text, you can move, rotate, grow, or shrink the text. If it has a background
    image, the background image will also be transformed along with the text. </p>
<p>Animations are drawn in the area designated for the View at the start of the animation;
    this area does not change to accommodate size or movement, so if your animation
    moves or expands outside the original boundaries of your object, it will be clipped
    to the size of the original canvas, even if the object's LayoutParams are
    set to WRAP_CONTENT (the object will not resize to accommodate moving or expanding/shrinking
    animations).</p>
<h3>Step 1: Define your animation </h3>
<p>The first step in creating a tweened animation is to define the transformations.
    This can be done either in XML or in code. You define an animation by defining
    the transformations that you want to occur, when they will occur, and how long
    they should take to apply. Transformations
    can be sequential or simultaneous&mdash;so, for example, you can have the contents
    of a TextView move from left to right, and then rotate 180 degrees, or you can
    have the text move and rotate simultaneously. Each transformation takes a set
    of parameters specific for that transformation (starting size and ending size
    for size change, starting angle and ending angle for rotation, and so on), and
    also a set of common parameters (for instance, start time and duration). To make
    several transformations happen simultaneously, give them the same start time;
    to make them sequential, calculate the start time plus the duration of the preceding
    transformation. </p>
<p>Screen coordinates are (0,0) at the upper left hand corner, and increase as you
    go down and to the right. </p>
<p>Some values, such as pivotX, can be specified relative to the object itself or
    relative to the parent. Be sure to use the proper format for what you want (&quot;50&quot;
    for 50% relative to the parent, &quot;50%&quot; for 50% relative to itself).</p>
<p>You can determine how a transformation is applied over time by assigning an Interpolator
    to it. Android includes several Interpolator subclasses that specify various
    speed curves: for instance, AccelerateInterpolator tells a transformation
    to start slow and speed up; DecelerateInterpolator tells it to start fast than slow
    down, and so on. </p>
<p>If
    you want a group of transformations to share a set of parameters (for example,
    start time and duration), you can bundle them into an AnimationSet, which
    defines the common parameters for all its children (and overrides any
    values explicitly set by the children). Add your AnimationSet as
    a child to the root AnimationSet (which serves to wrap all transformations into
    the final animation). </p>
<p>    Here is the XML that defines a simple animation. The object will first move
    to the right, then rotate and double in size, then move up. Note the
    transformation start times.</p>
<table width="100%" border="1">
    <tr>
        <th scope="col">XML</th>
        <th scope="col">Equivalent Java </th>
    </tr>
    <tr>
        <td><pre>&lt;set android:shareInterpolator=&quot;true&quot; 
     android:interpolator=&quot;@android:anim/accelerate_interpolator&quot;&gt;

    &lt;translate android:fromXDelta=&quot;0&quot;
               android:toXDelta=&quot;30&quot;
               android:duration=&quot;800&quot;
               android:fillAfter=&quot;true&quot;/&gt;
    
    &lt;set android:duration="800" 
         android:pivotX=&quot;50%&quot;
         android:pivotY=&quot;50%&quot; &gt;

        &lt;rotate android:fromDegrees=&quot;0&quot;
                android:toDegrees=&quot;-90&quot; 
                android:fillAfter=&quot;true&quot;
                android:startOffset=&quot;800&quot;/&gt;
    
        &lt;scale android:fromXScale=&quot;1.0&quot;
                android:toXScale=&quot;2.0&quot;
                android:fromYScale=&quot;1.0&quot;
                android:toYScale=&quot;2.0&quot;
                android:startOffset=&quot;800&quot; /&gt;
    &lt;/set&gt;

    &lt;translate android:toYDelta=&quot;-100&quot;
               android:fillAfter=&quot;true&quot;
               android:duration=&quot;800&quot;
               android:startOffset=&quot;1600&quot;/&gt;
&lt;/set&gt;</pre></td>
        <td><pre>// Create root AnimationSet.
AnimationSet rootSet = new AnimationSet(true);
rootSet.setInterpolator(new AccelerateInterpolator());
rootSet.setRepeatMode(Animation.NO_REPEAT);

// Create and add first child, a motion animation.
TranslateAnimation trans1 = new TranslateAnimation(0, 30, 0, 0);
trans1.setStartOffset(0);
trans1.setDuration(800);
trans1.setFillAfter(true);
rootSet.addAnimation(trans1);

// Create a rotate and a size animation.
RotateAnimation rotate = new RotateAnimation(
       0, 
       -90, 
       RotateAnimation.RELATIVE_TO_SELF, 0.5f, 
       RotateAnimation.RELATIVE_TO_SELF, 0.5f);
       rotate.setFillAfter(true);
       rotate.setDuration(800);

ScaleAnimation scale = new ScaleAnimation(
       1, 2, 1, 2, // From x, to x, from y, to y
       ScaleAnimation.RELATIVE_TO_SELF, 0.5f, 
       ScaleAnimation.RELATIVE_TO_SELF, 0.5f);
       scale.setDuration(800);
       scale.setFillAfter(true);

// Add rotate and size animations to a new set,
// then add the set to the root set.
AnimationSet childSet = new AnimationSet(true);
childSet.setStartOffset(800);
childSet.addAnimation(rotate);
childSet.addAnimation(scale);
rootSet.addAnimation(childSet);

// Add a final motion animation to the root set.
TranslateAnimation trans2 = new TranslateAnimation(0, 0, 0, -100);
trans2.setFillAfter(true);
trans2.setDuration(800);
trans2.setStartOffset(1600);
rootSet.addAnimation(trans2);

// Start the animation.
animWindow.startAnimation(rootSet);</pre></td>
    </tr>
</table>
<p>&nbsp;</p>
<p>The following diagram shows the animation drawn from this code: </p>
<p><img src="{@docRoot}images/tweening_example.png" alt="A tweened animation: move right, turn and grow, move up." ></p>
<p>The previous diagram shows a few important things. One is the animation itself,
    and the other is that the animation can get cropped if it moves out of its originally
    defined area. To avoid this, we could have sized the TextView to fill_parent
    for its height. </p>
<p>If you define your animation in XML, save it in the res/anim/ folder as described
    in <a href="{@docRoot}reference/available-resources.html#tweenedanimation">Resources</a>. That topic
    also describes the XML tags and attributes you can use to specify transformations. </p>
<p>Animations
    have the following common parameters (from the Animation interface).
    If a group of animations share the same values, you can bundle them into an AnimationSet
    so you don't have to set these values on each one individually.</p>
<table width="100%" border="1">
    <tr>
        <th scope="col">Property</th>
        <th scope="col">XML Attribute</th>
        <th scope="col">Java Method / </th>
        <th scope="col">Description</th>
    </tr>
    <tr>
        <td>Start time </td>
        <td><code>android:startOffset</code></td>
        <td><code>Animation.setStartOffset()</code> (or <code>setStartTime()</code> for absolute time)</td>
        <td>The start time (in milliseconds) of a transformation, where 0 is the
        start time of the root animation set. </td>
    </tr>
    <tr>
        <td>Duration</td>
        <td><code>android:duration</code></td>
        <td><code>Animation.setDuration()</code></td>
        <td>The duration (in milliseconds) of a transformation. </td>
    </tr>
    <tr>
        <td>Fill before </td>
        <td><code>android:fillBefore</code></td>
        <td><code>Animation.setFillBefore()</code></td>
        <td>True if you want this transformation to be applied at time zero, regardless
        of your start time value (you will probably never need this). </td>
    </tr>
    <tr>
        <td>Fill after </td>
        <td><code>android:fillAfter</code></td>
        <td><code>Animation.SetFillAfter()</code></td>
        <td>Whether you want the transform you apply to continue after the duration
            of the transformation has expired. If false, the original value will
            immediately be applied when the transformation is done. So, for example,
            if you want to make a dot move down, then right in an &quot;L&quot; shape, if this
            value is not true, at the end of the down motion the text box will immediately
        jump back to the top before moving right. </td>
    </tr>
    <tr>
        <td>Interpolator</td>
        <td><code>android:interpolator</code></td>
        <td><code>Animation.SetInterpolator()</code></td>
        <td>Which interpolator to use. </td>
    </tr>
    <tr>
        <td>Repeat mode </td>
        <td>Cannot be set in XML </td>
        <td><code>Animation.SetRepeatMode()</code></td>
        <td>Whether and how the animation should repeat. </td>
    </tr>
</table>
<p>&nbsp; </p>
<h3>Step 2: Load and start your animation </h3>
<ol>
    <li>If you've created your transformation in XML, you'll need to load it in Java
        by calling {@link android.view.animation.AnimationUtils#loadAnimation(android.content.Context,
        int) AnimationUtils.loadAnimation()}. </li>
    <li>Either start the animation immediately by calling {@link android.view.View#startAnimation(android.view.animation.Animation)
        View.startAnimation()}, or if you have specified a start time in the animation
        parameters, you can call 
        {@link android.view.View#setAnimation(android.view.animation.Animation)
        View.setCurrentAnimation()}.</li>
</ol>
<p>The following code demonstrates loading and starting an animation. </p>
<pre>// Hook into the object to be animated.
TextView animWindow = (TextView)findViewById(R.id.anim);

// Load the animation from XML (XML file is res/anim/move_animation.xml).
Animation anim = AnimationUtils.loadAnimation(AnimationSample.this, R.anim.move_animation);
anim.setRepeatMode(Animation.NO_REPEAT);

// Play the animation.
animWindow.startAnimation(anim);</pre>
</body>
</html>
