<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.android.lightingtest">

    <application>
        <activity android:name="ClearActivity" android:label="LightingTest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
