<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>138.33.0.157554</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {576, 733}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2012-11-14 22:20:40 +0000</string>
	<key>Creator</key>
	<string>Robert Ly</string>
	<key>DisplayScale</key>
	<string>1 0/72 in = 1 0/72 in</string>
	<key>FileType</key>
	<string>auto</string>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{206.5, 311.05804}, {55, 24}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>a</key>
					<string>0.65</string>
					<key>w</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>DroidSans</string>
				<key>Size</key>
				<real>10</real>
			</dict>
			<key>ID</key>
			<integer>199</integer>
			<key>Line</key>
			<dict>
				<key>ID</key>
				<integer>198</integer>
				<key>Offset</key>
				<real>-2</real>
				<key>Position</key>
				<real>0.59412848949432373</real>
				<key>RotationType</key>
				<integer>0</integer>
			</dict>
			<key>Magnets</key>
			<array>
				<string>{0, 1}</string>
				<string>{0, -1}</string>
				<string>{1, 0}</string>
				<string>{-1, 0}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>RTFD</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhBJOU0F0dHJpYnV0
				ZWRTdHJpbmcAhIQITlNPYmplY3QAhZKEhIQITlNTdHJp
				bmcBlIQBKwdVcGRhdGVzhoQCaUkBB5KEhIQMTlNEaWN0
				aW9uYXJ5AJSEAWkDkoSWlgdOU0NvbG9yhpKEhIQHTlND
				b2xvcgCUhAFjA4QCZmYAg2ZmJj+GkoSWlgZOU0ZvbnSG
				koSEhAZOU0ZvbnQelJkchAVbMjhjXQYAAAAUAAAA//5I
				AGUAbAB2AGUAdABpAGMAYQCEAWYMmwCbAZsAmwCGkoSW
				lhBOU1BhcmFncmFwaFN0eWxlhpKEhIQQTlNQYXJhZ3Jh
				cGhTdHlsZQCUhARDQ0BTAgCEhIQHTlNBcnJheQCUmQyS
				hISECU5TVGV4dFRhYgCUhAJDZgAchpKEpaQAOIaShKWk
				AFSGkoSlpABwhpKEpaQAgYwAhpKEpaQAgagAhpKEpaQA
				gcQAhpKEpaQAgeAAhpKEpaQAgfwAhpKEpaQAgRgBhpKE
				paQAgTQBhpKEpaQAgVABhoYAhoaG
				</data>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;\red0\green0\blue0;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf2 Updates}</string>
				<key>alpha</key>
				<array>
					<array>
						<integer>0</integer>
						<integer>7</integer>
						<real>0.64999997615814209</real>
					</array>
				</array>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>DroidSans</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>ID</key>
			<integer>198</integer>
			<key>OrthogonalBarAutomatic</key>
			<false/>
			<key>OrthogonalBarPoint</key>
			<string>{0, 0}</string>
			<key>OrthogonalBarPosition</key>
			<real>4.1290435791015625</real>
			<key>Points</key>
			<array>
				<string>{165.58636, 347.00049}</string>
				<string>{232, 325}</string>
				<string>{271, 300}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.7</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>CornerRadius</key>
					<real>4</real>
					<key>HeadArrow</key>
					<string>0</string>
					<key>LineType</key>
					<integer>2</integer>
					<key>TailArrow</key>
					<string>FilledArrow</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>1800</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{282.74756, 257.67365}, {273.33658, 82.000977}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>1806</integer>
			<key>ImageID</key>
			<integer>8</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>DroidSans</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>1800</integer>
				<key>Info</key>
				<integer>4</integer>
			</dict>
			<key>ID</key>
			<integer>196</integer>
			<key>OrthogonalBarAutomatic</key>
			<false/>
			<key>OrthogonalBarPoint</key>
			<string>{0, 0}</string>
			<key>OrthogonalBarPosition</key>
			<real>4.1290435791015625</real>
			<key>Points</key>
			<array>
				<string>{57.379539, 223}</string>
				<string>{43.586342, 347.00049}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.7</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>CornerRadius</key>
					<real>4</real>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>LineType</key>
					<integer>2</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>203</integer>
				<key>Info</key>
				<integer>4</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{57.379539, 207}, {94.413635, 32}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>a</key>
					<string>0.65</string>
					<key>w</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>DroidSans</string>
				<key>Size</key>
				<real>10</real>
			</dict>
			<key>ID</key>
			<integer>203</integer>
			<key>Magnets</key>
			<array>
				<string>{0, 1}</string>
				<string>{0, -1}</string>
				<string>{1, 0}</string>
				<string>{-1, 0}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.578326</string>
						<key>g</key>
						<string>0.578615</string>
						<key>r</key>
						<string>0.578453</string>
					</dict>
					<key>CornerRadius</key>
					<real>15</real>
					<key>Pattern</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>RTFD</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhBJOU0F0dHJpYnV0
				ZWRTdHJpbmcAhIQITlNPYmplY3QAhZKEhIQITlNTdHJp
				bmcBlIQBKw5DbGllbnQgTGlicmFyeYaEAmlJAQ6ShISE
				DE5TRGljdGlvbmFyeQCUhAFpBJKElpYOTlNPcmlnaW5h
				bEZvbnSGkoSEhAZOU0ZvbnQelJkchAVbMjhjXQYAAAAU
				AAAA//5IAGUAbAB2AGUAdABpAGMAYQCEAWYMhAFjAJ0B
				nQCdAIaShJaWEE5TUGFyYWdyYXBoU3R5bGWGkoSEhBdO
				U011dGFibGVQYXJhZ3JhcGhTdHlsZQCEhBBOU1BhcmFn
				cmFwaFN0eWxlAJSEBENDQFMCAIUAhpKElpYGTlNGb250
				hpKakoSWlgdOU0NvbG9yhpKEhIQHTlNDb2xvcgCUnQOE
				AmZmAINmZiY/hoaG
				</data>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;\red0\green0\blue0;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf2 Client Library}</string>
				<key>VerticalPad</key>
				<integer>10</integer>
				<key>alpha</key>
				<array>
					<array>
						<integer>0</integer>
						<integer>14</integer>
						<real>0.64999997615814209</real>
					</array>
				</array>
			</dict>
			<key>TextPlacement</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{43.586342, 306}, {122.00003, 82.000977}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>a</key>
					<string>0.65</string>
					<key>w</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>DroidSans-Bold</string>
				<key>NSKern</key>
				<real>0.0</real>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>1800</integer>
			<key>Magnets</key>
			<array>
				<string>{0, 1}</string>
				<string>{0, -1}</string>
				<string>{1, 0}</string>
				<string>{-1, 0}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.938075</string>
						<key>g</key>
						<string>0.938269</string>
						<key>r</key>
						<string>0.938154</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.45</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
					<key>Fuzziness</key>
					<real>0.0</real>
					<key>ShadowVector</key>
					<string>{0.5, 2}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.700224</string>
						<key>g</key>
						<string>0.700574</string>
						<key>r</key>
						<string>0.700377</string>
					</dict>
					<key>CornerRadius</key>
					<real>3</real>
					<key>Width</key>
					<real>3</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>RTFD</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhBJOU0F0dHJpYnV0
				ZWRTdHJpbmcAhIQITlNPYmplY3QAhZKEhIQITlNTdHJp
				bmcBlIQBKxlHb29nbGUgUGxheQpzZXJ2aWNlcyBBUEsK
				hoQCaUkBGZKEhIQMTlNEaWN0aW9uYXJ5AJSEAWkDkoSW
				lgdOU0NvbG9yhpKEhIQHTlNDb2xvcgCUhAFjA4QCZmYA
				g2ZmJj+GkoSWlgZOU0ZvbnSGkoSEhAZOU0ZvbnQelJkc
				hAVbMjhjXQYAAAAUAAAA//5IAGUAbAB2AGUAdABpAGMA
				YQCEAWYMmwCbAZsAmwCGkoSWlhBOU1BhcmFncmFwaFN0
				eWxlhpKEhIQQTlNQYXJhZ3JhcGhTdHlsZQCUhARDQ0BT
				AgCEhIQHTlNBcnJheQCUmQyShISECU5TVGV4dFRhYgCU
				hAJDZgAchpKEpaQAOIaShKWkAFSGkoSlpABwhpKEpaQA
				gYwAhpKEpaQAgagAhpKEpaQAgcQAhpKEpaQAgeAAhpKE
				paQAgfwAhpKEpaQAgRgBhpKEpaQAgTQBhpKEpaQAgVAB
				hoYAhoaG
				</data>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;\red0\green0\blue0;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf2 Google Play\
services APK\
}</string>
				<key>VerticalPad</key>
				<integer>10</integer>
				<key>alpha</key>
				<array>
					<array>
						<integer>0</integer>
						<integer>25</integer>
						<real>0.64999997615814209</real>
					</array>
				</array>
			</dict>
			<key>TextPlacement</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{43.586342, 195}, {122.00003, 82.000977}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>a</key>
					<string>0.65</string>
					<key>w</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>DroidSans-Bold</string>
				<key>NSKern</key>
				<real>0.0</real>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>249</integer>
			<key>Magnets</key>
			<array>
				<string>{0, 1}</string>
				<string>{0, -1}</string>
				<string>{1, 0}</string>
				<string>{-1, 0}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.938075</string>
						<key>g</key>
						<string>0.938269</string>
						<key>r</key>
						<string>0.938154</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.45</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
					<key>Fuzziness</key>
					<real>0.0</real>
					<key>ShadowVector</key>
					<string>{0.5, 2}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.700224</string>
						<key>g</key>
						<string>0.700574</string>
						<key>r</key>
						<string>0.700377</string>
					</dict>
					<key>CornerRadius</key>
					<real>3</real>
					<key>Width</key>
					<real>3</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>RTFD</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhBJOU0F0dHJpYnV0
				ZWRTdHJpbmcAhIQITlNPYmplY3QAhZKEhIQITlNTdHJp
				bmcBlIQBKwhZb3VyIEFwcIaEAmlJAQiShISEDE5TRGlj
				dGlvbmFyeQCUhAFpBJKElpYOTlNPcmlnaW5hbEZvbnSG
				koSEhAZOU0ZvbnQelJkchAVbMjhjXQYAAAAUAAAA//5I
				AGUAbAB2AGUAdABpAGMAYQCEAWYMhAFjAJ0BnQCdAIaS
				hJaWEE5TUGFyYWdyYXBoU3R5bGWGkoSEhBdOU011dGFi
				bGVQYXJhZ3JhcGhTdHlsZQCEhBBOU1BhcmFncmFwaFN0
				eWxlAJSEBENDQFMCAIUAhpKElpYGTlNGb250hpKakoSW
				lgdOU0NvbG9yhpKEhIQHTlNDb2xvcgCUnQOEAmZmAINm
				ZiY/hoaG
				</data>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;\red0\green0\blue0;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf2 Your App}</string>
				<key>VerticalPad</key>
				<integer>10</integer>
				<key>alpha</key>
				<array>
					<array>
						<integer>0</integer>
						<integer>8</integer>
						<real>0.64999997615814209</real>
					</array>
				</array>
			</dict>
			<key>TextPlacement</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{25.847038, 415.18762}, {157.43497, 20.991331}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>1795</integer>
					<key>ImageID</key>
					<integer>4</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{167.76729, 156.73196}, {15.743497, 10.058347}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>Helvetica</string>
						<key>Size</key>
						<real>9</real>
					</dict>
					<key>ID</key>
					<integer>1796</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>2</integer>
						<key>Pad</key>
						<integer>2</integer>
						<key>RTFD</key>
						<data>
						BAtzdHJlYW10eXBlZIHoA4QBQISE
						hBJOU0F0dHJpYnV0ZWRTdHJpbmcA
						hIQITlNPYmplY3QAhZKEhIQITlNT
						dHJpbmcBlIQBKwQyOjMwhoQCaUkB
						BJKEhIQMTlNEaWN0aW9uYXJ5AJSE
						AWkDkoSWlgdOU0NvbG9yhpKEhIQH
						TlNDb2xvcgCUhAFjAoQEZmZmZoPO
						zEw+g7a1NT+D5+VlPwGGkoSWlhBO
						U1BhcmFncmFwaFN0eWxlhpKEhIQQ
						TlNQYXJhZ3JhcGhTdHlsZQCUhARD
						Q0BTAQCEhIQHTlNBcnJheQCUmQyS
						hISECU5TVGV4dFRhYgCUhAJDZgAc
						hpKEoqEAOIaShKKhAFSGkoSioQBw
						hpKEoqEAgYwAhpKEoqEAgagAhpKE
						oqEAgcQAhpKEoqEAgeAAhpKEoqEA
						gfwAhpKEoqEAgRgBhpKEoqEAgTQB
						hpKEoqEAgVABhoYAhpKElpYGTlNG
						b250hpKEhIQGTlNGb250HpSZHIQF
						WzI4Y10GAAAAFAAAAP/+SABlAGwA
						dgBlAHQAaQBjAGEAhAFmCJsAmwGb
						AJsAhoaG
						</data>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;\red45\green166\blue222;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qr

\f0\fs16 \cf2 2:30}</string>
						<key>VerticalPad</key>
						<integer>2</integer>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{25.847008, 156.29468}, {157.47868, 10.932985}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>1797</integer>
					<key>ImageID</key>
					<integer>3</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{10.999992, 113}, {187.17274, 367.34827}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>1798</integer>
					<key>ImageID</key>
					<integer>5</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{25.847038, 156.29462}, {157.43497, 279.8844}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>1799</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>1794</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{269.83173, 246.96591}, {299.16827, 99.416443}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>4</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>9</real>
				</dict>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>9</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image8.tiff</string>
		<string>image5.pdf</string>
		<string>image4.png</string>
		<string>image3.png</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2012-11-14 23:00:27 +0000</string>
	<key>Modifier</key>
	<string>Robert Ly</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAx7X05TU2l6ZT1mZn2WgWQCgRgDhg==</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{-392, -138}, {1359, 1010}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>1</real>
			</array>
		</array>
	</dict>
	<key>saveQuickLookFiles</key>
	<string>NO</string>
</dict>
</plist>
