<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (C) 2021 The Android Open Source Project
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="test_com.android.server">
    <!-- APEX does not have classes.dex -->
    <application android:hasCode="false" android:testOnly="true">
        <apex-system-service
            android:name="com.android.server.testing.FakeApexSystemService"
            android:path="/apex/test_com.android.server/javalib/FakeApexSystemServices.jar"
            android:minSdkVersion="30"
        />

        <apex-system-service
            android:name="com.android.server.testing.FakeApexSystemService2"
            android:path="/apex/test_com.android.server/javalib/FakeApexSystemServices.jar"
            android:minSdkVersion="30"
            android:initOrder="1"
        />

        <!-- Always inactive system service, since maxSdkVersion is low -->
        <apex-system-service
            android:name="com.android.server.testing.OldApexSystemService"
            android:path="/apex/test_com.android.server/javalib/fake.jar"
            android:minSdkVersion="1"
            android:maxSdkVersion="1"
        />

        <!-- Always inactive system service, since minSdkVersion is high -->
        <apex-system-service
            android:name="com.android.server.testing.NewApexSystemService"
            android:path="/apex/test_com.android.server/javalib/fake.jar"
            android:minSdkVersion="999999"
        />
    </application>
</manifest>
