<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.android.unit_tests.install_decl_perm">

    <permission android:name="com.android.unit_tests.NORMAL"
        android:permissionGroup="android.permission-group.COST_MONEY"
        android:protectionLevel="normal"
        android:label="test normal perm" />
        
    <permission android:name="com.android.unit_tests.DANGEROUS"
        android:permissionGroup="android.permission-group.COST_MONEY"
        android:protectionLevel="dangerous"
        android:label="test dangerous perm" />
        
    <permission android:name="com.android.unit_tests.SIGNATURE"
        android:permissionGroup="android.permission-group.COST_MONEY"
        android:protectionLevel="signature"
        android:label="test signature perm" />
        
    <application android:hasCode="false">
    </application>
</manifest>
