<?xml version="1.0" encoding="utf-8"?>
<!--
 * Copyright (C) 2019 The Android Open Source Project
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.android.stubs.am">

    <uses-permission android:name="android.permission.START_ACTIVITIES_FROM_BACKGROUND"/>
    <application android:label="Android TestCase" >
        <provider
                android:authorities="@string/authority"
                android:name=".TestContentProvider"
                android:exported="true" />
        <receiver
                android:name=".TestBroadcastReceiver"
                android:exported="true">
            <intent-filter>
                <action android:name="com.android.stubs.am.ACTION_BROADCAST_TEST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <service
                android:name=".InitService"
                android:exported="true" />
        <service
                android:name=".TestService"
                android:exported="true" />
        <activity
                android:name=".TestActivity"
                android:excludeFromRecents="true"
                android:turnScreenOn="true"
                android:launchMode="singleTask">
            <intent-filter>
                <action android:name="com.android.stubs.am.ACTION_START_TEST_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>

