<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (C) 2008 The Android Open Source Project

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at
  
          http://www.apache.org/licenses/LICENSE-2.0
  
     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.android.dumprendertree">
    <application android:name="HTMLHostApp">
        <uses-library android:name="android.test.runner" />
        <activity android:name="Menu" android:label="Dump Render Tree"
          android:screenOrientation="portrait"
          android:theme="@android:style/Theme.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.TEST" />
            </intent-filter>
        </activity>
        <activity android:name="TestShellActivity"
          android:launchMode="singleTop"
          android:hardwareAccelerated="true"
          android:screenOrientation="portrait"
          android:theme="@android:style/Theme.Light"/>
        <activity android:name="ReliabilityTestActivity" android:screenOrientation="portrait"
          android:theme="@android:style/Theme.Light"/>
    </application>

    <instrumentation android:name=".LayoutTestsAutoRunner"
        android:targetPackage="com.android.dumprendertree"
        android:label="Layout test automation runner"
    />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SDCARD" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>
