<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (C) 2018 The Android Open Source Project

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.android.server.wm.flicker.testapp">

    <uses-sdk android:minSdkVersion="29"
              android:targetSdkVersion="35"/>

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.MANAGE_MEDIA_PROJECTION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.INSTANT_APP_FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION"/>
    <uses-permission android:name="android.permission.ACCESS_SURFACE_FLINGER" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />

    <application android:allowBackup="false"
                 android:supportsRtl="true">
        <uses-library android:name="androidx.window.extensions" android:required="false"/>
        <property
            android:name="android.window.PROPERTY_ACTIVITY_EMBEDDING_SPLITS_ENABLED"
            android:value="true" />
        <activity android:name=".SimpleActivity"
                  android:taskAffinity="com.android.server.wm.flicker.testapp.SimpleActivity"
                  android:theme="@style/CutoutShortEdges"
                  android:label="SimpleActivity"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ImeActivity"
                  android:taskAffinity="com.android.server.wm.flicker.testapp.ImeActivity"
                  android:theme="@style/CutoutShortEdges"
                  android:label="ImeActivity"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ImeActivityAutoFocus"
                  android:theme="@style/CutoutShortEdges"
                  android:taskAffinity="com.android.server.wm.flicker.testapp.ImeActivityAutoFocus"
                  android:windowSoftInputMode="stateVisible"
                  android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
                  android:label="ImeAppAutoFocus"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ImeStateInitializeActivity"
                  android:theme="@style/no_starting_window"
                  android:windowSoftInputMode="stateAlwaysHidden"
                  android:label="ImeStateInitializeActivity"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".SeamlessRotationActivity"
                  android:taskAffinity="com.android.server.wm.flicker.testapp.SeamlessRotationActivity"
                  android:theme="@style/CutoutShortEdges"
                  android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize"
                  android:showWhenLocked="true"
                  android:label="SeamlessActivity"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".NonResizeableActivity"
                  android:theme="@style/CutoutShortEdges"
                  android:resizeableActivity="false"
                  android:taskAffinity="com.android.server.wm.flicker.testapp.NonResizeableActivity"
                  android:label="NonResizeableActivity"
                  android:exported="true"
                  android:showOnLockScreen="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".NonResizeablePortraitActivity"
                  android:theme="@style/CutoutNever"
                  android:resizeableActivity="false"
                  android:screenOrientation="portrait"
                  android:taskAffinity="com.android.server.wm.flicker.testapp.NonResizeablePortraitActivity"
                  android:label="NonResizeablePortraitActivity"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".StartMediaProjectionActivity"
            android:theme="@style/CutoutNever"
            android:resizeableActivity="false"
            android:taskAffinity="com.android.server.wm.flicker.testapp.StartMediaProjectionActivity"
            android:label="StartMediaProjectionActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".PortraitImmersiveActivity"
                  android:taskAffinity="com.android.server.wm.flicker.testapp.PortraitImmersiveActivity"
                  android:immersive="true"
                  android:resizeableActivity="true"
                  android:screenOrientation="portrait"
                  android:theme="@style/OptOutEdgeToEdge.NoTitleBar"
                  android:configChanges="screenSize"
                  android:label="PortraitImmersiveActivity"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".LaunchTransparentActivity"
                  android:resizeableActivity="false"
                  android:screenOrientation="portrait"
                  android:theme="@style/OptOutEdgeToEdge"
                  android:taskAffinity="com.android.server.wm.flicker.testapp.LaunchTransparentActivity"
                  android:label="LaunchTransparentActivity"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".TransparentActivity"
                  android:theme="@style/TransparentTheme"
                  android:taskAffinity="com.android.server.wm.flicker.testapp.TransparentActivity"
                  android:label="TransparentActivity"
                  android:exported="false">
        </activity>
        <activity android:name=".LaunchNewActivity"
                  android:taskAffinity="com.android.server.wm.flicker.testapp.LaunchNewActivity"
                  android:theme="@style/CutoutShortEdges"
                  android:configChanges="orientation|screenSize"
                  android:label="LaunchNewActivity"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".LaunchNewTaskActivity"
                  android:taskAffinity="com.android.server.wm.flicker.testapp.LaunchNewTaskActivity"
                  android:theme="@style/CutoutShortEdges"
                  android:configChanges="orientation|screenSize"
                  android:label="LaunchNewTaskActivity"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".DialogThemedActivity"
                  android:taskAffinity="com.android.server.wm.flicker.testapp.DialogThemedActivity"
                  android:configChanges="orientation|screenSize"
                  android:theme="@style/DialogTheme"
                  android:label="DialogThemedActivity"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".PortraitOnlyActivity"
                  android:taskAffinity="com.android.server.wm.flicker.testapp.PortraitOnlyActivity"
                  android:theme="@style/CutoutShortEdges"
                  android:screenOrientation="portrait"
                  android:configChanges="orientation|screenSize"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ImeEditorPopupDialogActivity"
                  android:taskAffinity="com.android.server.wm.flicker.testapp.ImeEditorPopupDialogActivity"
                  android:configChanges="orientation|screenSize"
                  android:theme="@style/CutoutShortEdges"
                  android:label="ImeEditorPopupDialogActivity"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ShowWhenLockedActivity"
                  android:taskAffinity="com.android.server.wm.flicker.testapp.ShowWhenLockedActivity"
                  android:theme="@style/CutoutShortEdges"
                  android:configChanges="orientation|screenSize"
                  android:label="ShowWhenLockedActivity"
                  android:showWhenLocked="true"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".NotificationActivity"
                  android:taskAffinity="com.android.server.wm.flicker.testapp.NotificationActivity"
                  android:theme="@style/CutoutShortEdges"
                  android:configChanges="orientation|screenSize"
                  android:label="NotificationActivity"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityEmbeddingMainActivity"
            android:label="ActivityEmbedding Main"
            android:taskAffinity="com.android.server.wm.flicker.testapp.ActivityEmbedding"
            android:theme="@style/CutoutShortEdges"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityEmbeddingTrampolineActivity"
            android:label="ActivityEmbedding Trampoline"
            android:taskAffinity="com.android.server.wm.flicker.testapp.ActivityEmbedding"
            android:theme="@style/CutoutShortEdges"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
            android:exported="false">
        </activity>
        <activity
            android:name=".ActivityEmbeddingSecondaryActivity"
            android:label="ActivityEmbedding Secondary"
            android:taskAffinity="com.android.server.wm.flicker.testapp.ActivityEmbedding"
            android:theme="@style/CutoutShortEdges"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
            android:supportsPictureInPicture="true"
            android:exported="false"/>
        <activity
            android:name=".ActivityEmbeddingThirdActivity"
            android:label="ActivityEmbedding Third"
            android:taskAffinity="com.android.server.wm.flicker.testapp.ActivityEmbedding"
            android:theme="@style/CutoutShortEdges"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
            android:exported="false"/>
        <activity
            android:name=".ActivityEmbeddingAlwaysExpandActivity"
            android:label="ActivityEmbedding AlwaysExpand"
            android:taskAffinity="com.android.server.wm.flicker.testapp.ActivityEmbedding"
            android:theme="@style/CutoutShortEdges"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
            android:exported="false"/>
        <activity
            android:name=".ActivityEmbeddingPlaceholderPrimaryActivity"
            android:label="ActivityEmbedding Placeholder Primary"
            android:taskAffinity="com.android.server.wm.flicker.testapp.ActivityEmbedding"
            android:theme="@style/CutoutShortEdges"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
            android:exported="false">
        </activity>
        <activity
            android:name=".ActivityEmbeddingPlaceholderSecondaryActivity"
            android:label="ActivityEmbedding Placeholder Secondary"
            android:taskAffinity="com.android.server.wm.flicker.testapp.ActivityEmbedding"
            android:theme="@style/CutoutShortEdges"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
            android:exported="false"/>
        <activity android:name=".MailActivity"
                  android:exported="true"
                  android:label="MailActivity"
                  android:taskAffinity="com.android.server.wm.flicker.testapp.MailActivity"
                  android:theme="@style/OptOutEdgeToEdge.AppCompatTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".GameActivity"
                  android:taskAffinity="com.android.server.wm.flicker.testapp.GameActivity"
                  android:immersive="true"
                  android:theme="@style/OptOutEdgeToEdge.NoTitleBar"
                  android:configChanges="screenSize"
                  android:label="GameActivity"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".PipActivity"
                  android:resizeableActivity="true"
                  android:supportsPictureInPicture="true"
                  android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
                  android:taskAffinity="com.android.server.wm.flicker.testapp.PipActivity"
                  android:theme="@style/CutoutShortEdges"
                  android:launchMode="singleTop"
                  android:label="PipActivity"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".SplitScreenActivity"
                  android:resizeableActivity="true"
                  android:taskAffinity="com.android.server.wm.flicker.testapp.SplitScreenActivity"
                  android:theme="@style/CutoutShortEdges"
                  android:label="SplitScreenPrimaryActivity"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".SplitScreenSecondaryActivity"
                  android:resizeableActivity="true"
                  android:taskAffinity="com.android.server.wm.flicker.testapp.SplitScreenSecondaryActivity"
                  android:theme="@style/CutoutShortEdges"
                  android:label="SplitScreenSecondaryActivity"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data android:name="android.app.shortcuts"
                       android:resource="@xml/shortcuts" />
        </activity>
        <activity android:name=".SendNotificationActivity"
                  android:taskAffinity="com.android.server.wm.flicker.testapp.SendNotificationActivity"
                  android:theme="@style/CutoutShortEdges"
                  android:label="SendNotificationActivity"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".LaunchBubbleActivity"
            android:label="LaunchBubbleActivity"
            android:exported="true"
            android:theme="@style/CutoutShortEdges"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".BubbleActivity"
            android:label="BubbleActivity"
            android:exported="false"
            android:theme="@style/CutoutShortEdges"
            android:resizeableActivity="true"/>
        <activity
            android:name=".TransferSplashscreenActivity"
            android:taskAffinity="com.android.server.wm.flicker.testapp.TransferSplashscreenActivity"
            android:label="TransferSplashscreenActivity"
            android:theme="@style/SplashscreenAppTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <service
            android:name=".AssistantInteractionSessionService"
            android:exported="true"
            android:permission="android.permission.BIND_VOICE_INTERACTION"/>
        <service
            android:name=".AssistantRecognitionService"
            android:exported="true"
            android:label="Test Voice Interaction Service">
            <intent-filter>
                <action android:name="android.speech.RecognitionService"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="android.speech"
                android:resource="@xml/recognition_service"/>
        </service>
        <service
            android:name=".AssistantInteractionService"
            android:exported="true"
            android:label="Test Voice Interaction Service"
            android:permission="android.permission.BIND_VOICE_INTERACTION">
            <intent-filter>
                <action android:name="android.service.voice.VoiceInteractionService"/>
            </intent-filter>
            <meta-data
                android:name="android.voice_interaction"
                android:resource="@xml/interaction_service"/>
        </service>
        <service android:name="com.android.wm.shell.flicker.utils.MediaProjectionService"
            android:foregroundServiceType="mediaProjection"
            android:label="WMShellTestsMediaProjectionService"
            android:enabled="true">
        </service>
    </application>
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>
</manifest>
