<html>
<body>
Framework classes for interaction between views and input methods (such
as soft keyboards).  See {@link android.view.inputmethod.InputMethodManager} for
an overview.  In most cases the main classes here are not needed for
most applications, since they are dealt with for you by
{@link android.widget.TextView}.  When implementing a custom text editor,
however, you will need to implement the
{@link android.view.inputmethod.InputConnection} class to allow the current
input method to interact with your view.
</body>
</html>
