<!--
  ~ Copyright (C) 2015 The Android Open Source Project
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.android.test.uibench">

    <application
        android:allowBackup="false"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <uses-library android:name="android.test.runner" />

        <!-- Root navigation activity -->
        <activity
            android:name=".MainActivity"
            android:label="UiBench">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Tests -->
        <activity
            android:name=".GlTextureViewActivity"
            android:label="Microbenchmarks/GL TextureView" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.uibench.TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FullscreenOverdrawActivity"
            android:label="Microbenchmarks/Fullscreen Overdraw" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.uibench.TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TrivialAnimationActivity"
            android:label="Microbenchmarks/Trivial Animation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.uibench.TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TrivialListActivity"
            android:label="Microbenchmarks/Trivial ListView" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.test.uibench.TEST" />
            </intent-filter>
        </activity>
    </application>
</manifest>
