<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.android.accessorychat">

    <application>
        <uses-library android:name="com.android.future.usb.accessory" />

        <activity android:name="AccessoryChat" android:label="Accessory Chat GB">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
            </intent-filter>

            <meta-data android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
                android:resource="@xml/accessory_filter" />
        </activity>
    </application>
    <uses-sdk android:minSdkVersion="10" />
</manifest>
